#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: green;
	border: 2px solid green;
}


.scrollbar
{
	height: 300px;
	overflow-y: scroll;
}

.force-overflow
{
	min-height: 450px;
}

.table-custom{
	height:400px; 
	overflow-y:scroll;
}


.input-group-addon {
    min-width:100px;// if you want width please write here //
    text-align:left;
}